asgiref==3.9.1 ; python_version >= "3.10"
django==5.2.4 ; python_version >= "3.10"
djangorestframework==3.16.0 ; python_version >= "3.10"
gunicorn==23.0.0 ; python_version >= "3.10"
packaging==25.0 ; python_version >= "3.10"
sqlparse==0.5.3 ; python_version >= "3.10"
typing-extensions==4.14.1 ; python_version == "3.10"
tzdata==2025.2 ; python_version >= "3.10" and sys_platform == "win32"
